# Dependências
node_modules/
jspm_packages/
dist/
# Arquivos de build
.serverless/
.build
.esbuild

# Arquivos de ambiente
.env
.env.*

# Logs
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo
- node_modules

# assistant snippets
assistant_snippet_*.txt

# misc
*.pem
